extends layout
block body
	div.books
		each category in categories
			div.category
				h2.category-title= category
				div.category-books
					each book in books[category]
						div.book
							span.book-title= book.name
							if book.authors
								span.book-authors= " by " + book.authors.join(", ")
							div.book-types
								each ext in book.extensions
									a(href=(nconf.get("url") + "/file/" + encodeURIComponent(book.file + "." + ext)))= ext
					if category == "Other" && unsortedCount > 0
						div.book
							if unsortedCount == 1
								em.book-title= "There is currently " + unsortedCount + " unsorted book. Complain about this."
							else
								em.book-title= "There are currently " + unsortedCount + " unsorted books. Complain about this."
	div.footer
		p
			em This website is for educational purposes only. If you have any complaints, you know where to find me.